* {
    margin: 0;
    padding: 0;
    font-family: Tw Cen MT;
}

.accordion {
    width: 600px;
    margin: auto;
}

.accordion-card {
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

.accordion-card .accordion-header {
    background-color: #05c46b;
    padding: 10px;
}

.accordion-card .accordion-header h3 {
    font-size: 28px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.accordion-card .accordion-body {
    padding: 20px;
    display: none;
}

.accordion-card .accordion-body p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5)
}